/* Variables */

:root {
  /**
   * Colour palette
   */

  --c-bordeax: #c75263;
  --c-white: #FFFFFF;
  --c-lightgrey: #E8E5E5;
  --c-grey: #CACACA;
  --c-darkgrey: #A1A1A1;
  --c-darkestgrey: #707070;
  --c-black: #000000;

  /**
   * Typography
   */

  --f-opensans: 'Open Sans';

  --s-size13: 13px;
  --s-size14: 14px;
  --s-size16: 16px;
  --s-size17: 17px;
  --s-size23: 23px;
  --s-size42: 42px;
  --s-size46: 46px;
  --s-size76: 76px;
  --s-size84: 84px;
  --s-size54: 54px;
  --s-size26: 26px;
}


